<section id="header" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column">
                        <h1 style="color:navy;font-style:italic;">About Us</h1>
                        <h2 class="my-3">
                            Our mission is to work along you, choose the best solutions for your entity and help in flourishing your business.
                        </h2>
                        <div class="mt-3">
                            <a href="Home/Contact" class="btn-get-started">Contact Now</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 header-img">
                        <img id="img_round" src="~/images/aboutus.jpg" class="img-fluid animated" alt="Common Img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>