<div class="row">
    <div class="col-md-12 col-10 max-auto mb-2 text-center">
        
        <br />
        <br />
        <h1 style="color:navy;font-style:italic;">Services</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-10 max-auto mb-2">
        <div class="card h-80">
            <img src="../images/webdevelopment_new2.jpg" class="card h-80-img-top" alt="" />
            <div class="card h-80-body">
                <h5 class="card h-80-title font-weight-bold">Web Development</h5>
                <p class="card h-80-text">We develop from simplest presentation websites to full-fledged web application. Present us with your unique needs. A personalized web solution is tailored to the way your business works and can thus improve every aspect of it, from efficiency to turnover.</p>
                <a href="Home/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-10 max-auto mb-2">
        <div class="card h-80">
            <img src="../images/mobiedevelopment.jpg" class="card h-80-img-top" alt="" />
            <div class="card h-80-body">
                <h5 class="card h-80-title font-weight-bold">App Development</h5>
                <p class="card h-80-text">We create commercial grade apps for Android that can further your company’s multi-platform, multi-device strategy. Rightsotutions4u offers full life cycle Android development services including mobile architecture, development, testing, deployment and maintenance.</p>
                <a href="Home/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-10 max-auto mb-2">
        <div class="card h-80">
            <img src="../images/desktopapplicationdevelopme.jpg" class="card h-80-img-top" alt="" />
            <div class="card h-80-body">
                <h5 class="card h-80-title font-weight-bold">Desktop Development</h5>
                <p class="card h-80-text">We offer a diversity of options when it comes to the desktop application frameworks. From Stand-alone business application to client-server model, collaborative ones to cross-platform applications.</p>
                <a href="Home/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-10 max-auto mb-2">
        <div class="card h-80">
            <img src="../images/applicationtesting.jpg" class="card h-80-img-top" alt="" />
            <div class="card h-80-body">
                <h5 class="card h-80-title font-weight-bold">Application Testing</h5>
                <p class="card h-80-text">We specialize in Software Development Life Cycle (SDLC-Agile & Waterfall), involved in every phase of (SDLC): requirements gathering, data analyzing, system designing, coding, testing: system, unit, System Integration (SIT) and User Acceptance testing (UAT). We write for you the test cases, test plans, RTM and generating test scripts. Provide manual, automated, performance/load testing using top-notch tools, defect tracking & reporting and many more.</p>
                <a href="Home/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-10 max-auto mb-2">
        <div class="card h-80">
            <img src="../images/ecommerce.jpg" class="card h-80-img-top" alt="" />
            <div class="card h-80-body">
                <h5 class="card h-80-title font-weight-bold">eCommerce</h5>
                <p class="card h-80-text">We build applications that are secure, reliable as well as easy to use for your business. Right from scratch till shipment of the products made so easy. We cater ecommerce application for both web and mobile development.</p>
                <a href="Home/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>