@{
    ViewData["Title"] = "Home Page";
}

<section id="header" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column">
                        <h1 style="color:navy;font-style:italic;">RightSolutions 4U</h1>
                        <h2 class="my-3">We believe in working together, share your Ideas, we’ll bring right solutions for you.</h2>
                        <div class="mt-3">
                            <a href="Home/Contact" class="btn-get-started">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 header-img">
                        <img id="img_round" src="~/images/home.jpg" class="img-fluid animated" alt="Common Img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
